name: build-php-cli-windows-vs2022

on:
  push:
  pull_request:

env:
  BUILD_PHP_VERSION: 8.2.13

jobs:
  windows-native:
    if: 1
    # runs-on: windows-2022
    runs-on: windows-2025
    strategy:
      matrix:
        php-version:
          #  - "8.2.13"
          #  - "8.1.27"
          - "8.4.15"

    steps:
      - uses: actions/checkout@v4
      - name: show environment info
        run: |
          git config --global core.autocrlf false
          git config --global core.eol lf
          git config --global core.ignorecase false
          env
          ipconfig
          uname -a
          pwd
          ipconfig /all
          # SET PATH=C:\Windows\System32\wbem;%PATH%
          # $env:PATH="C:\Windows\System32\wbem;$env:PATH"
          # $env:PATH +=";C:\Windows\System32\wbem;"
          # 显示逻辑cpu 个数
          # wmic cpu get NumberOfLogicalProcessors /value
          Write-Output (Get-WmiObject Win32_Processor).NumberOfLogicalProcessors
          # echo %NUMBER_OF_PROCESSORS%
          Write-Output $env:NUMBER_OF_PROCESSORS
          systeminfo
          echo "BUILD_PHP_VERSION=${{ matrix.php-version }}" >> $Env:GITHUB_ENV

      - name: download deps soft
        shell: cmd
        run: |
          sapi\quickstart\windows\native-build\windows-init-download.bat

      - name: install  deps soft
        shell: cmd
        run: |
          sapi\quickstart\windows\native-build\windows-init-install.bat

      - name: show deps soft
        shell: cmd
        run: |
          sapi\quickstart\windows\native-build\windows-init-show-install-result.bat

      - name: ZeroTier
        if: 0
        uses: zerotier/github-action@v1.0.1
        with:
          network_id: ${{ secrets.ZEROTIER_NETWORK_ID }}
          auth_token: ${{ secrets.ZEROTIER_CENTRAL_TOKEN }}

      - name: windows config ssh server
        if: 0
        shell: powershell
        run: |
          Set-ExecutionPolicy -Scope Process -ExecutionPolicy Bypass;
          # irm https://gitee.com/jingjingxyk/swoole-cli/raw/new_dev/sapi/quickstart/windows/openssh/enable-openssh.ps1 | iex
          irm https://github.com/jingjingxyk/swoole-cli/blob/new_dev/sapi/quickstart/windows/openssh/enable-openssh.ps1?raw=true | iex
          Start-Sleep 21600

      - name: show deps soft
        if: 1
        run: |
          $CURRENT_DIR = Get-Location
          $env:Path +=  "${CURRENT_DIR}\var\windows-build-deps\php-sdk-binary-tools\bin;${CURRENT_DIR}\var\windows-build-deps\php-sdk-binary-tools\msys2\usr\bin;${CURRENT_DIR}\bin\runtime\nasm\;"

          where perl
          php -v
          perl -v
          nasm -v
          where bison.exe
          where  re2c.exe

      - name: run build
        run: |
          cmd /c sapi\quickstart\windows\native-build\main.bat

      - name: show php SDK
        if: 0
        run: |
          $CURRENT_DIR = Get-Location
          # Start-Process cmd -ArgumentList "${CURRENT_DIR}\var\windows-build-deps\php-sdk-binary-tools\phpsdk-starter.bat -h" -NoNewWindow
          # Start-Process cmd -ArgumentList "${CURRENT_DIR}\var\windows-build-deps\php-sdk-binary-tools\phpsdk-vs17-x64.bat -a x64  " -NoNewWindow
          cmd /c ${CURRENT_DIR}\var\windows-build-deps\php-sdk-binary-tools\phpsdk-starter.bat -h
          # cmd /c ${CURRENT_DIR}\var\windows-build-deps\php-sdk-binary-tools\phpsdk-vs17-x64.bat

      - name: Show Build Result
        if: 0
        run: |
          cd var\windows-build-deps\php-src\

          .\x64\Release_TS\php.exe -v
          .\x64\Release_TS\php.exe -m
          dumpbin /DEPENDENTS ".\x64\Release_TS\php.exe"

      - name: production artifacts
        if: 0
        uses: actions/upload-artifact@v4
        with:
          name: php-cli-v${{ env.BUILD_PHP_VERSION }}-vs16-x64
          retention-days: 90
          path: "var/windows-build-deps/php-src/x64/Release_TS/php.exe"

      - name: gh release
        uses: softprops/action-gh-release@v2
        if: ${{ 0 && startsWith(github.ref, 'refs/tags/') }}
        with:
          files: "var/windows-build-deps/php-src/x64/Release_TS/php.exe"
